
*{
    margin:0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

img,
video,
svg{
    max-width: 100%;
    height: auto;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid red;
    height: 100vh;
    max-width: 100%;
    background-color: rgba(15, 189, 131, 0.13);
}


.box{
    display:flex;
    flex-direction: column;
    border: 2px solid rgb(12, 12, 12);
    align-items: center;
    justify-content: center;
    border-radius: 1.3vh;
    height: 20vh;
    width: 40vh;
}

.box:hover{
    border:2px solid rgb(45, 45, 71);
    background-color: rgba(54, 160, 124, 0.13);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    border:2px solid rgb(74, 74, 80);
    border-radius: 1.3vh;
    width: 20vh;
    height:5vh;
}

.card:hover{
    border:2px solid rgb(45, 45, 71);
    background-color: rgba(26, 116, 86, 0.13);
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid rgb(74, 74, 80);
    border-radius: 1.3vh;
    width: 25vh;
    height:5vh;
}


/*Calculadora - Inicio

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.calculadora{
    display:grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgba(8, 14, 8, 0.555);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 15px 10px 0px 5px rgba(218, 217, 217, 0.158);
}

button{
    cursor:pointer;
    margin: 5px;
    padding:0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: rgba(21, 155, 122, 0.637);
}

button:active{
    background-color: rgba(15, 94, 15, 0.76);
}

button:focus{
    outline:none;
}

.col-2{
    grid-column: span 2;
}

.display{
    grid-column: 1 / -1;
    padding: 1rem;
    display:flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(24, 104, 24, 0.822);
    border-radius: 10px;
    text-align: right;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.233);
}

#valor-actual{
    font-size: 1.5rem;
}

#valor-anterior{
    font-size: 2rem;
}


Calculadora - Fin*/