*{
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#contenedor-productos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-card{
    display:flex;
    flex-direction: column;
    width: 380px;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border:2px solid $clr-base;
    border-radius: 12px;

    .card_ph{
        width: 360px;
        height: auto;
    }
    
    .product-tittle{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 355px;
        height: 70px;

        h2{
            font-size: 1.8rem;
        }
    }
}

.verMas{
    display:flex;
    margin-top: 20px;
    flex-direction: row;
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
    background-color: rgba(35, 47, 95, 0.788);
    border-radius: 12px;
    color: white;

    a:hover{
        background-color: rgba(32, 39, 70, 0.884);
        color: rgba(255, 255, 255, 0.788);
    }
        
}

.img-tienda{
    display:flex;

    a:hover{
        opacity: 0.75;
    }
}

.img-box1{
    padding: 20px 5px 20px 20px;
}

.img-box2{
    padding: 20px 5px 20px 20px;
}

.text-portada{
    display:flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    
    
    h3{
        font-size: 2.3rem;
        font-family: $vietnam;
    }
}