#section-box-card{
    display:flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    justify-content: center;
}



.product-card{
    display:flex;
    border: 2px solid red;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;

    .card_ph{
        width: 320px;
        height: auto;
    }
    .product-tittle{
        display:flex;
        flex-direction: row;
        width: 90%;
        height: 40px;
        align-items: center;
        margin-top: 10px;
        border: 2px solid blue;
    }
    .product-price{
        display:flex;
        flex-direction: row;
        position: relative;
        top: -50px;
        width: 90%;
        height: 40px;
        align-items: center;
        justify-content: right;
        margin-top: 10px;
        border: 2px solid blue;
    }

    .product-detail{
        display:flex;
        flex-direction: row;
        position: relative;
        top: -30px;
        width: 90%;
        height: 120px;
        align-items: center;
        border: 2px solid blueviolet;
    }
}

.btn{
    width: 120px;
    height: 30px;
}

#formulario{
    display:flex;
    flex-direction: column;
    width: auto;
    padding: 20px;
    border:2px solid green;
}

.form-type{
    margin-top: 5px;
    margin-bottom: 5px;
}

.btnFormulario{
    margin-top: 10px;
    width: 60px;
}


.cardfiltros{
    display:flex;
    flex-direction: row;
    border: 1px solid red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btnfiltros{
    width: auto;
    justify-content: space-between;
    margin: auto;
    font-family: $roboto;
    font-size: .8rem;
}

ul, ol {
    list-style: none;
}

.listaFiltros li a{
    background-color: $clr-tipografia;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    display:block;
    z-index: 1;
}

.listaFiltros li a:hover{
    background-color: #444343b6;
}

.listaFiltros > li {
    float:left;
}

.listaFiltros li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

.listaFiltros li:hover > ul {
    display:block;
}

.listaFiltros li ul li {
    position: relative;
    
}

.listaFiltros li ul li {
    bottom: -140px;
    top: 0px;

}


.dark{
    background-color: rgba(78, 78, 78, 0.705);
}

.dark * {
    color:white;
}