#section-box-card{
    display:flex;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    justify-content: center;
}


.product-card{
    display:flex;
    border: 2px solid red;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;

    .card_ph{
        width: 320px;
        height: auto;
    }
    .product-tittle{
        display:flex;
        flex-direction: row;
        width: 90%;
        height: 40px;
        align-items: center;
        margin-top: 10px;
        border: 2px solid blue;
    }
    .product-price{
        display:flex;
        flex-direction: row;
        position: relative;
        top: -50px;
        width: 90%;
        height: 40px;
        align-items: center;
        justify-content: right;
        margin-top: 10px;
        border: 2px solid blue;
    }

    .product-detail{
        display:flex;
        flex-direction: row;
        position: relative;
        top: -30px;
        width: 90%;
        height: 120px;
        align-items: center;
        border: 2px solid blueviolet;
    }
}

.btn{
    width: 120px;
    height: 30px;
}

@media(min-width: 750px){

}