.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh; 
    position: fixed;
    inset: 0;

    display:flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;

}

.my-modal{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 480px;
    background-color: $clr-fondo;
    padding-top: 20px;
    border-radius: 15px;

        h1{
            text-align: center;
            font-family: $roboto;
            font-size: 2rem;
            margin-bottom: 15px;
        }
    
        .modal-subtittle{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            height: 10vh;
            background-color: rgba(255, 255, 255, 0.479);
            
            h4{
                font-family: $vietnam;
                font-size: 1.2rem;
                color: $clr-tipografia;
            }
        }

        .modal-subtittle2{
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 15px;
            align-items: center;
            padding:5px;
            width: 100%;
            height: 10vh;
            background-color: rgb(0, 0, 0);
            
            h4{
                font-family: $vietnam;
                padding-top: 3px;
                padding-bottom: 3px;
                font-size: 0.8rem;
                color:white;
            }

            h5{
                font-family: $vietnam;
                padding-top: 3px;
                padding-bottom: 3px;
                font-size: 0.9srem;
                color:white;
            }
        }


        .modal-subtittle3{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            padding:5px;
            width: 100%;
            height: 12vh;
            background-color: rgba(255, 255, 255, 0.479);
            
            h5{
                font-family: $vietnam;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 1rem;
                color:rgb(0, 0, 0);
            }
        }

        #btn-modal-close{
            position: relative;
            left: 6.5rem;
            bottom: -3rem;
            width: 80px;
            border-radius: 8px;
            background-color: $clr-tipografia;
            color: white;


        #btn-modal-open{
            display: disabled;
            width: 0px;
            height: 0px;
            opacity: 10;
        }

        }
    }


.modal-container-active{
    opacity: 1;
    visibility: visible;
}
