.boxNav{
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: $clr-fondo;
}

img, video, svg {
    max-width: 100%;
    height: auto;
}

.navbar{
    background-color: $clr-fondo;
}












.cardNav{
    display:flex;
    flex-wrap: nowrap;
    height: 15vh;
    width: 100%;
    padding: 0px 30px 0px 30px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid blue;
}

.brandNav{
    display:flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: $clr-fondo-footer;

    p{
        font-size: 1rem;
        font-family: $roboto;
        color: white;
    }
}


.logo{
    display:flex;
    width: auto;
    height:auto;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}




.menuNav{
    display:flex;
    width: 110vh;
    border:2px solid orange;
    justify-content: space-evenly;

    a{
        font-family: $vietnam;
        font-size:1rem;
        letter-spacing: 0.03em;
        
    };
}



.carrito{
    display:flex;
    width: 140px;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    
    a{
        font-family: $vietnam;
        font-size:1rem;
        
    };
}




.logo{
    width: 180px;
}