.brand{
    font-family: $roboto;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

header{
    position: relative;
    display:flex;
    background: black;
    border: 1px solid blue;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    


    .nav_btn{
        fill :$clr-fondo;
        display: block;
        cursor: pointer;
        width: 35px;
        


        &-close{
            float: right;
            margin: 2em 2em;

        }
    }

    nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 65%;

        background: black;
        opacity: 0.5;
        z-index: 1;
        display:none;
        
        &.nav-open{
            display: block;
        }

        .menu {
            display:flex;
            flex-flow: column nowrap;
            gap: 2em;

            margin-top:25vh;
            margin-left: 2em;


            li{
                color: white;
                text-decoration: none;
                opacity: 0.8;

                &.active{
                    font-weight: 600;
                    opacity: 1;
                    letter-spacing: 0.05em;

                }

                &:hover{
                    text-decoration: 1px underline white;
                    text-underline-offset: 4px;

                }
            }

        }
    }



    @media(min-width: 760px){
        .nav_btn{
            display:none;
        }

        nav {
            all:unset;
            
            .menu{
                display:flex;
                flex-flow: row nowrap;
                margin: unset;
                gap: 1em;
            }
        }
    }
}